* {
    margin: 0;
    padding: 0;
}

.mask-cover {
    background-image: url('../src/assets/coverall.png');
    background-repeat: no-repeat;
    background-position: 0px -570px;
}



.span-cover {
    background-image: url('../src/assets/coverall.png');
    background-repeat: no-repeat;
    background-position: 0px -986px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.small{
    font-size: 12px;
}

.text-start{
    text-align: start;
}

.clear-fix::after{content:".";display:block;height:0;clear:both;visibility:hidden}